
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liebiao:before { content: "\e600"; }
.icon-huafei:before { content: "\e601"; }
.icon-guanbi:before { content: "\e669"; }
.icon-daida:before { content: "\e64e"; }
.icon-gengduo:before { content: "\e602"; }
.icon-tingliku:before { content: "\e63a"; }
.icon-guanjianci:before { content: "\e63b"; }
.icon-shipin:before { content: "\e603"; }
.icon-kuozhangongnenggengduo:before { content: "\e604"; }
.icon-xueshengguanli:before { content: "\e605"; }
.icon-qian:before { content: "\e660"; }
.icon-gengduo1:before { content: "\e606"; }
.icon-pingfen:before { content: "\e64f"; }
.icon-guanyuwomen:before { content: "\e626"; }
.icon-yuedu:before { content: "\e63c"; }
.icon-ditu:before { content: "\e627"; }
.icon-zaixiankefu:before { content: "\e607"; }
.icon-ditu1:before { content: "\e628"; }
.icon-qian1:before { content: "\e661"; }
.icon-xuanzhong:before { content: "\e65c"; }
.icon-renqun:before { content: "\e608"; }
.icon-yuyue:before { content: "\e609"; }
.icon-zhuan:before { content: "\e650"; }
.icon-shangke:before { content: "\e63d"; }
.icon-cihui:before { content: "\e63e"; }
.icon-tingli:before { content: "\e63f"; }
.icon-shuo:before { content: "\e640"; }
.icon-zonghepingfen:before { content: "\e651"; }
.icon-jianjie201:before { content: "\e629"; }
.icon-19:before { content: "\e65e"; }
.icon-fangbianvideo:before { content: "\e60a"; }
.icon-xianlujianjie:before { content: "\e62a"; }
.icon-quanguoditu:before { content: "\e665"; }
.icon-score:before { content: "\e652"; }
.icon-guojihua:before { content: "\e641"; }
.icon-kouyu:before { content: "\e642"; }
.icon-xiezuo:before { content: "\e643"; }
.icon-add-round:before { content: "\e621"; }
.icon-icon:before { content: "\e60b"; }
.icon-chakanditu:before { content: "\e62b"; }
.icon-caikejilu:before { content: "\e644"; }
.icon-xingming:before { content: "\e66c"; }
.icon-jianjie:before { content: "\e62c"; }
.icon-gengduo2:before { content: "\e636"; }
.icon-yuyue1:before { content: "\e60c"; }
.icon-zhuye:before { content: "\e60d"; }
.icon-bofang:before { content: "\e623"; }
.icon-zizhi:before { content: "\e62d"; }
.icon-guanbi1:before { content: "\e66a"; }
.icon-teacher:before { content: "\e60e"; }
.icon-yuedu1:before { content: "\e645"; }
.icon-read:before { content: "\e646"; }
.icon-iconfont-certificate:before { content: "\e62e"; }
.icon-rongyuzhengshu:before { content: "\e62f"; }
.icon-guanyuwomen1:before { content: "\e60f"; }
.icon-diannao:before { content: "\e610"; }
.icon-geiwomenpingfen:before { content: "\e653"; }
.icon-08gengduo:before { content: "\e611"; }
.icon-qian2:before { content: "\e662"; }
.icon-bofang1:before { content: "\e624"; }
.icon-xueshengpiao:before { content: "\e612"; }
.icon-iconfontxuexiaoguanli:before { content: "\e647"; }
.icon-icon1:before { content: "\e654"; }
.icon-iconfontyingyu:before { content: "\e648"; }
.icon-more:before { content: "\e613"; }
.icon-xinjian2:before { content: "\e614"; }
.icon-jiab:before { content: "\e622"; }
.icon-guanbi2:before { content: "\e66b"; }
.icon-guanyuwomen2:before { content: "\e630"; }
.icon-biaoshengci:before { content: "\e649"; }
.icon-guanbi3:before { content: "\e65f"; }
.icon-renqun1:before { content: "\e615"; }
.icon-more1:before { content: "\e637"; }
.icon-icon17:before { content: "\e655"; }
.icon-daxueshengzhuanxiang01:before { content: "\e616"; }
.icon-ditu2:before { content: "\e631"; }
.icon-iconfontxiala:before { content: "\e638"; }
.icon-qian3:before { content: "\e663"; }
.icon-gengduo3:before { content: "\e639"; }
.icon-guanyuwomen3:before { content: "\e632"; }
.icon-iconfontxuqiudingzhi:before { content: "\e64a"; }
.icon-dianhua:before { content: "\e617"; }
.icon-dianhua1:before { content: "\e618"; }
.icon-zuzhijiegou:before { content: "\e656"; }
.icon-peixun:before { content: "\e64b"; }
.icon-svgmoban51:before { content: "\e64c"; }
.icon-shouyeshouye:before { content: "\e619"; }
.icon-fawenzi:before { content: "\e64d"; }
.icon-zaixianzixun:before { content: "\e61a"; }
.icon-yuyueshijian:before { content: "\e61b"; }
.icon-bofang2:before { content: "\e625"; }
.icon-qita:before { content: "\e61c"; }
.icon-peiziiconfont08:before { content: "\e61d"; }
.icon-quanguoditu1:before { content: "\e666"; }
.icon-quanguoditu2:before { content: "\e667"; }
.icon-iconbaoming:before { content: "\e657"; }
.icon-iconyibaoming:before { content: "\e658"; }
.icon-shouji:before { content: "\e61e"; }
.icon-01gengduogengxin:before { content: "\e61f"; }
.icon-zhuanrengong:before { content: "\e659"; }
.icon-jianjie1:before { content: "\e633"; }
.icon-zhuye1:before { content: "\e620"; }
.icon-jianjie2:before { content: "\e634"; }
.icon-jigoujianjie:before { content: "\e635"; }
.icon-xuanzhongquan:before { content: "\e65d"; }
.icon-askda:before { content: "\e65a"; }
.icon-baoming:before { content: "\e65b"; }
.icon-qian4:before { content: "\e664"; }
.icon-quanguogaikuangxuanzhong:before { content: "\e668"; }
